body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: linear-gradient(90deg, #6a11cb, #2575fc);
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
}

nav ul li {
    margin-right: 2rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s;
}

nav a:hover {
    color: #ddd;
}

section {
    padding: 4rem 2rem;
    text-align: center;
}



section h2 {
    color: #6a11cb;
    margin-bottom: 1rem;
}

section p {
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.6;
}

form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

form label {
    display: block;
    margin: 1rem 0 0.5rem;
}

form input, form textarea {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    display: block;
    width: 100%;
    padding: 1rem;
    background-color: #6a11cb;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

form button:hover {
    background-color: #2575fc;
    transform: translateY(-3px);
}

footer {
    text-align: center;
    padding: 1%;
    background: linear-gradient(90deg, #6a11cb, #2575fc);
    color: white;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
}
/* Responsiveness */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    
    nav ul li {
        margin: 0.5rem 0;
    }

    #home h1 {
        font-size: 2.5rem;
    }

    #home p {
        font-size: 1.2rem;
    }
}
